*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
Будет удалено .gitignore
Будет удалено .idea/
Будет удалено app/
Будет удалено build.gradle
Будет удалено gradle.properties
Будет удалено gradle/
Будет удалено gradlew
Будет удалено gradlew.bat
Будет удалено settings.gradle
Будет удалено app/build.gradle
Будет удалено app/build/
Будет удалено app/libs/
Будет удалено app/proguard-rules.pro
